body, main, header {
    font-family: 'Muli', sans-serif;
}



header .row {
    display: flex;
    align-items: center;
    position: relative;
    top:20px
}



header h1 {
    position: relative;
    left: 45px;
    font-weight:700;                                  ;
    font-size: 22px;
    color: #000000
}



header nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -300px;
    font-size: 15px;
    font-weight: 500;
    color:#000000

}

header p {
    position: relative;
    right: 45px;
    padding: 0 20px;
    margin: 0;
    color:#000000;
}

.headtext{
  color:#000000
}


.image{
    float:left;
    width:350px;
    height:auto;
    position: relative;
    left:100px;
    top:100px
}

.special{
    font-size: 24px;
    font-weight:600;
    position:relative;
    top: -10px
}

.text{
    position: relative;
    top:20px;
    left:80px;
    width: 800px;
    padding:80px;
    overflow: auto;
}

.t2{
  position:relative;
  top:15px
}

.t3{
  position:relative;
  top:25px
}

.t4{
  position: relative;
  top:25px
}


.text2{
    position: relative;
    top:-40px;
    padding:100px;
    color: #b7b7b7

}

.text, .t2, .t3, .t4, .text2{
  font-size:15px;
  font-weight:300
}


.footer {
  display: flex;
  position: relative;
  height: 200px;
  top: 100px;
  justify-content: center;
  width: 100%;
}

footer h3{
  text-align: center;
  font-family: 'muli', sans-serif;
  font-weight: bold;
  color: #454545
}

footer p{
  font-weight:bolder
}
.icons{
  display: flex;
  justify-content: center;
}

.fa{
   color: #454545;
   margin:8px
}

.endtext{
  position: relative;
  top: 40px;
  text-align: center;
  font-family: 'muli', sans-serif;
  color: #b7b7b7;
  font-weight:400
}
