body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: bolder;
    font-weight:600;
    font-size: 26px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -300px;
    font-size: 16px;
    font-weight: bolder}

header p {
    padding: 0 20px;
    margin: 0;
    color:#000000
    }

main h1 {
      font-family: 'Helvetica', sans-serif;
      position: relative;
      top: 30px;
      text-align: center;
      font-size: 36px;
      font-weight: bolder;
      font-weight: 500;
      margin: 10px;
      color: #000000;
    }



.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    position: relative;
    top: 140px;
    justify-content: space-around
  }

.row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    position: relative;
    top: 150px;
    justify-content: space-around;
}

.row3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    position: relative;
    top: 160px;
    justify-content: space-around;
}



.image{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative
}

.tshkr{
  background-color:#adbdb5;
  height: 490px;
  width:51%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left:5px;
}

.banff{
  background-color:#F9EBD4;
  height: 490px;
  width:46%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  right:5px;
}

.tides{
  background-color:#D4E4F9;
  height: 490px;
  width:38%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left:5px;
}

.moria{
  background-color:#e2d7c1;
  height: 490px;
  width:59%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  right:5px;
}

.hearth{
  background-color:#e8cabf;
  height: 650px;
  width:48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left:5px;
}

.self{
  background-color:#cdc6c1;
  height: 650px;
  width:49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  right:5px;
}
