body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: bolder;
    font-weight:600;
    font-size: 26px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -300px;
    font-size: 16px;
    font-weight: bolder}

header p {
    padding: 0 20px;
    margin: 0;
    color:#000000
    }

main h1 {
      font-family: 'Helvetica', sans-serif;
      position: relative;
      top: 30px;
      text-align: center;
      font-size: 36px;
      font-weight: bolder;
      font-weight: 500;
      margin: 10px;
      color: #000000;
    }



.row_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    position: relative;
    top: 140px;
    justify-content: space-around;
  }

.row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    top:130px;
    position: relative;
    justify-content: space-around;
}

.sign_in{
  background-color:#e2e9f3;
  height: 490px;
  width:37%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left:5px;
}

.contours{
  background-color:#b2bab0;
  height: 490px;
  width:60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  right:5px;

}

.yb{
  background-color:#d9ced3;
  height: 540px;
  width:98%;
  top: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .image{
    justify-content: center;
    top:40px;
    display: flex;
    flex-wrap: wrap;
    position: relative
  }
