body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 250;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 600;
    margin: 0
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}


h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    color: #000000;
  }
  
h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    font: weight 300;
    margin: 0;
    color: #FF6F61;
  }