main {
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12, .div13{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:60px;
}
